<h1><%= @list.name %></h1>
<%= link_to "delete the list", list_path(@list), class: "btn btn-primary mt-3", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%= link_to "Return to lists", lists_path, class: "btn btn-primary mt-3" %>
